body {
    padding-bottom: 30px;
}

header .icon img {
    width: 40px;
    margin-right: 10px;
}

#banner img {
    width: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#banner .cover {
    position: relative;
    width: 100%;
}

.type-movie h5 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.type-movie .item-movie:hover {
    cursor: pointer;
    background-color: #0d6efd;
    border-radius: 10px;
    padding: 5px;
    color: white;
    transition: 0.2s all ease-in-out;
}

.type-movie .title {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}

.type-movie .description {
    font-weight: 300;
    font-size: 0.9rem;
}

.list-movie {
    display: flex;
    gap: 10px;
    flex-direction: row;
    overflow-x: auto;
}

.list-movie .thumbnail {
    width: 150px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.about {
    text-align: center;
}

.about .description {
    font-size: 1.6rem;
}

.about table td {
    text-align: left;
}

.about .label {
    font-weight: 400;
    color: #4a4a4a;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.grid-container .thumbnail {
    width: 150px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.grid-container .title {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}

.grid-container .description {
    font-weight: 300;
    font-size: 0.9rem;
}

.grid-container .item-movie:hover {
    cursor: pointer;
    background-color: #0d6efd;
    border-radius: 10px;
    padding: 5px;
    color: white;
    transition: 0.2s all ease-in-out;
}

/* width */
::-webkit-scrollbar {
    width: 10px !important;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dedede;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf;
}